.login {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("~@/assets/imgs/login.svg") 0 0 no-repeat;
  height: 100%;
  z-index: 90;
  .login-logo {
    display: flex;
    justify-content: center;
    .img {
      width: 54px;
      height: 54px;
      margin-right: 16px;
    }
    .icon {
      width: 150px;
      height: 54px;
      fill: #000;
    }
  }
  .desc {
    margin-top: 12px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }
  .login-form {
    width: 328px;
  }

  .el-form-item {
    margin-bottom: 24px;
  }
  /deep/.el-tabs__nav-wrap::after {
    display: none;
  }
  /deep/.el-tabs__nav {
    width: 194px;
    margin: 0 auto;
    float: none;
    text-align: center;
  }
  /deep/.el-input__prefix {
    left: 12px;
  }
  /deep/.el-input__suffix {
    right: 12px;
    cursor: pointer;
  }

  /deep/ .el-input__inner {
    height: 40px;
    padding-left: 36px;
    line-height: 40px;
  }
  .fe-font {
    line-height: 40px;
    &:before {
      color: #1891ff;
    }
  }
  .remember {
    display: flex;
    line-height: 22px;
    margin-bottom: 24px;
    .el-checkbox {
      flex: 1;
    }
  }
  .el-button {
    display: inline-block;
    width: 100%;
    height: 40px;
  }
  .other-type {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    .icon {
      width: 24px;
      height: 24px;
      margin: 0 8px;
      color: #bfc2c4;
      cursor: pointer;
    }
    .icon:hover {
      color: #1890ff;
    }
    .icon:first-child {
      margin-left: 16px;
    }
  }
  .login-item {
    margin-bottom: 24px;
  }
  .sms-item /deep/.el-form-item__content {
    display: flex;
    .el-button {
      margin-left: 10px;
      width: auto;
    }
  }
  .el-alert {
    margin-bottom: 24px;
    border: 1px solid #ffccc7;
  }
}
