@import "~normalize.css";
// @import './var';
// /* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/index";
@import "../components/index.scss";
@import "./micro.scss";
@import "./progress.scss";
