@import "~normalize.css";
$--border-radius-base: 2px;
$--button-padding-vertical: 8px;
$--button-medium-padding-vertical: 8px;
$--input-height: 32px;
$--input-medium-height: 32px;
$--input-mini-height: 32px;
$--radio-font-weight: "inherit";
$--checkbox-bordered-medium-height: 32px;
$--checkbox-bordered-height: 32px;
$--checkbox-font-weight: "inherit";
$--checkbox-bordered-mini-height: 32px;
$--input-small-height: 32px;
$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/index";
@import "../modules/progress.scss";
@import "../modules/table.scss";

.el-date-editor {
  .el-range-separator,
  .el-range__icon {
    line-height: 24px;
  }
}
* {
  box-sizing: border-box;
}
html,
body,
#app {
  min-width: 1280px;
  background: #f0f2f5;
  color: $--font-color;
  height: 100%;
  font-size: 14px;
  font-family: pingfang SC, helvetica neue, arial, hiragino sans gb,
    microsoft yahei ui, microsoft yahei, simsun, sans-serif !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 默认链接样式
a {
  color: $--link-color;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.page-header-warp {
  position: relative;
}
.page-header-warp::after {
  content: "";
  z-index: 9;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: 300px;
  pointer-events: none;
  opacity: 0.3;
  background-repeat: repeat;
  background-image: url(~@/assets/imgs/watermark.png);
}
