* {
  box-sizing: border-box;
}
html,
body,
#app {
  min-width: 1280px;
  background: #f3f3ff;
  color: $--font-color;
  height: 100%;
  font-size: 14px;
  font-family: pingfang SC, helvetica neue, arial, hiragino sans gb,
    microsoft yahei ui, microsoft yahei, simsun, sans-serif !important;
}
.el-container {
  min-height: 100%;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 右侧主要内容
.main-content {
  padding: 17px 20px 0 217px;
  width: 100%;
  transition: 0.3s all ease-in-out;
  .el-main,
  .el-footer {
    padding: 0;
  }
}
// 收起左侧菜单模式
.main-content.qd-main-collapse {
  padding-left: 71px;
}

.microservices {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  .qd-main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .microservices-wrapper {
    padding: 63px 20px 55px 217px;
  }
  .microservices-global {
    padding: 0 0 38px 0;
  }

  &-content {
    flex: 1;
    z-index: 1;
  }

  &-content {
    flex: 1;
    padding: 46px 0 38px;
    z-index: 1;
  }

  &-content-min {
    padding-top: 40px;
  }

  .el-main {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    &__content {
      flex: 1;
    }
  }

  .main-content-bd {
    display: flex;
    margin: 20px auto;
  }
  .main-bd {
    flex: 1;
    margin-right: 16px;
  }
  .aside-bd {
    width: 235px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 7px 0px rgba(233, 233, 248, 1);
    border-radius: 4px;
  }
}

.flex {
  display: flex;
}

// 默认链接样式
a {
  color: $--link-color;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
// 无下划线样式
.noline {
  text-decoration: none;
}
.noline:hover {
  text-decoration: underline;
}

.mr8 {
  margin-right: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb18 {
  margin-bottom: 18px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb16 {
  margin-bottom: 16px;
}
.mt16 {
  margin-top: 16px;
}

input[type="number"] {
  padding-right: 0;
}

.el-range-editor.el-input__inner {
  justify-content: center;
  padding-right: 0;
}
.el-date-editor--datetimerange.el-input,
.el-date-editor--datetimerange.el-input__inner {
  width: 380px;
}
