.table-list {
  .search-form {
    display: flex;
    margin-bottom: 16px;
    padding: 16px 16px 0;
    background: #fff;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .el-form-item {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    /deep/ label:after {
      content: ":";
      margin: 0 -4px 0 2px;
    }
    .el-select,
    .el-date-editor {
      width: 100%;
    }
  }
  .collapse-button {
    margin-left: 10px;
  }
  .table-list-content {
    padding: 0 16px;
    background: #fff;
    overflow: hidden;
    /deep/thead th {
      background-color: #fafafa;
      color: rgba(0, 0, 0, 0.85);
    }
  }
  .table-list-tools {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
    }
  }
  .el-pagination {
    text-align: right;
    margin: 16px 0;
  }
  .status-icon {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .status-icon-0 {
    background-color: #d9d9d9;
  }
  .status-icon-1 {
    background-color: #ff4d4f;
  }
  .status-icon-2 {
    background-color: #52c41a;
  }
  .status-icon-3 {
    position: relative;
    background-color: #1890ff;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #1890ff;
      border-radius: 50%;
      transform: scale(2);
      box-sizing: border-box;
      animation: antStatusProcessing 1.2s ease-in-out infinite;
      content: "";
    }
  }
  @keyframes antStatusProcessing {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }

    to {
      transform: scale(2.4);
      opacity: 0;
    }
  }
}
