.dashboard {
  &-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
      min-width: calc((100% - 48px) / 4);
      padding: 20px 24px 18px;
      background-color: #fff;
      border-radius: 2px;
      margin-bottom: 16px;
    }
    .title {
      display: flex;
      align-items: center;
      height: 22px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 22px;
      .txt {
        flex: 1;
      }
    }
    .el-col {
      min-height: 160px;
    }
    &-content {
      .num {
        height: 38px;
        margin-top: 4px;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.85);
        font-size: 30px;
        line-height: 38px;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
      }
      .chart {
        height: 46px;
        display: flex;
        align-items: flex-end;
      }

      .el-icon-caret-top {
        color: #f5222d;
        margin-left: 4px;
      }
      .el-icon-caret-bottom {
        color: #52c41a;
        margin-left: 4px;
      }
      .trend-text {
        margin-left: 8px;
      }
      .tread-item {
        margin-right: 16px;
      }
    }
  }
}
.tab-list {
  position: relative;
  padding-bottom: 24px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 16px;
  /deep/.el-tabs__item {
    line-height: 57px;
    height: 57px;
    font-weight: normal;
  }
  /deep/.el-tabs__nav-wrap,
  /deep/.el-tabs__content {
    padding: 0 24px;
  }
  .el-date-editor {
    position: absolute;
    top: 12px;
    right: 24px;
    z-index: 9;
  }
  .el-tab-pane {
    display: flex;
  }
  /deep/.el-tabs__header {
    margin-bottom: 24px;
  }

  .tit {
    font-size: 14px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    margin-bottom: 20px;
  }
  .chart-wrap {
    flex: 2;
    .chart {
      height: 260px;
    }
  }
  .top-list-ul {
    padding-left: 0;
  }
  .top-list {
    flex: 1;
    padding-left: 72px;
    .item {
      display: flex;
      align-items: center;
      margin-top: 16px;
      .style {
        width: 20px;
        text-align: center;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        margin-right: 16px;
        background-color: #314659;
        color: #fff;
      }
      .num {
        flex: 1;
        text-align: right;
      }
    }
  }
}
.tab-line {
  position: relative;
  padding: 24px;
  background-color: #fff;
  border-radius: 2px;
  /deep/.el-tabs__item {
    height: 124px;
  }
  .line-label {
    width: 138px;
    .chart {
      height: 60px;
      flex: 1;
      padding-bottom: 12px;
    }
  }
  .tit {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
  }
  .name {
    display: block;
    height: 22px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    font-weight: normal;
  }
  .num {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    display: inline-block;
    height: 32px;
    margin-right: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    line-height: 32px;
  }
  .label-wrap {
    display: flex;
    align-items: center;
  }
  .label-bd {
    width: 60px;
  }
}
/deep/.el-tabs__nav-wrap::after {
  height: 1px;
}
