<div class="login">
  <div class="login-head">
    <div class="login-logo">
      <img class="img" src="/favicon.png" /><svg-icon iconName="fe-logo-text" />
    </div>
    <div class="desc">Fe Admin 只为一款简单好用的前端中台系统</div>
  </div>
  <div class="login-form">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="账户密码登录" name="userForm">
        <el-alert
          v-if="pwdAlert"
          :closable="false"
          :title="alertMsg"
          type="error"
          show-icon
        >
        </el-alert>
        <el-form
          :model="userForm"
          :rules="formRule"
          ref="userForm"
          size="medium"
        >
          <el-form-item prop="accountName" @submit.native.prevent>
            <el-input
              @keyup.enter.native="handleLogin"
              :maxlength="11"
              placeholder="用户名: admin or user"
              v-model.trim="userForm.accountName"
              clearable
            >
              <i slot="prefix" class="el-input__icon fe-admin fe-user"></i>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              @keyup.enter.native="handleLogin"
              :maxlength="12"
              :type="pwdType ? 'password' : ''"
              v-model.trim="userForm.password"
              placeholder="密码: fe-admin"
              clearable
            >
              <i slot="prefix" class="el-input__icon fe-admin fe-lock"></i>
              <i
                slot="suffix"
                @click="changePwdType"
                :class="
                  `el-input__icon fe-admin fe-visible ${
                    pwdType ? 'fe-invisible' : 'fe-visible'
                  }`
                "
              ></i>
            </el-input>
          </el-form-item>
        </el-form>
      </el-tab-pane>

      <el-tab-pane label="手机号登录" name="phoneForm">
        <el-form
          :model="phoneForm"
          :rules="formRule"
          ref="phoneForm"
          size="medium"
        >
          <el-form-item prop="phone" @submit.native.prevent>
            <el-input
              @keyup.enter.native="handleLogin"
              :maxlength="11"
              placeholder="请输入手机号！"
              v-model.trim="phoneForm.phone"
            >
              <i slot="prefix" class="el-input__icon fe-admin fe-phone"></i>
            </el-input>
          </el-form-item>
          <el-form-item class="sms-item" prop="smsNumber">
            <el-input
              @keyup.enter.native="handleLogin"
              :maxlength="6"
              v-model.trim="phoneForm.smsNumber"
              placeholder="请输入验证码！"
            >
              <i slot="prefix" class="el-input__icon fe-admin fe-message"></i>
            </el-input>
            <el-button>获取验证码</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>

    <div class="remember">
      <el-checkbox v-model="checked">自动登录</el-checkbox>
      <a>忘记密码？</a>
    </div>
    <div class="login-item">
      <el-button :loading="loading" @click="handleLogin" type="primary"
        >提 交</el-button
      >
    </div>
    <div class="other-type">
      其他登录方式 :
      <svg-icon iconName="fe-zhifubao" />
      <svg-icon iconName="fe-taobao" />
      <svg-icon iconName="fe-weixin" />
      <svg-icon iconName="fe-talk" />
    </div>
  </div>
  <fe-footer />
</div>
